@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    background-color: rgba(20, 20, 21, 0.94);
    font-family: 'Montserrat', sans-serif;
}
.navbar .head h1 {
    text-align: center;
    color:white;
    margin-top: 40px;
    padding-top: 20px;
}

.main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.hud {
    
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-right: 5px;
    padding: 5px;
    background-color: yellow;
}
.game_area {
    display: grid;
    margin-top: 50px;
    margin-right: 50px;
    grid-template-columns:auto auto auto auto ; 
    margin-left: 20px;
    width :auto;
    height:auto;
    background-color:brown;
 
}
.main .game_area button {
    
    width: 50px;
    height: 50px;
    background-color:rgba(184, 7, 10, 0.78);
    border:2px solid black;
    font-family: 'Montserrat', sans-serif;
}

.main .game_area button {
    color: black;
    
}